<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <% if (noIndex) { %>
        <meta name=”robots” content=”noindex,follow”/>
    <% } %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= gaTrackingId %>"></script>
    <script>
      window.GA_TRACKING_ID = "<%= gaTrackingId %>";
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", GA_TRACKING_ID);
    </script>

    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name=”keywords” content=”<%= keyword %>”>
    <meta name="description" content="<%= description %>">
    <meta name="author" content="https://github.com/TatsuyaYamamoto">

    <meta property="og:site_name" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:image" content="https://dl-code.web.app/assets/og.jpg">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:url" content="https://dl-code.web.app">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<div id="app"></div>

</body>
</html>
